<div class="row">
	<div class="col-md-4 mb-3">
		<app-account-menu-list></app-account-menu-list>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">{{ 'profile' | translate }}</h5>
			</div>
			<div class="card-body">
				<p class="text-center mb-4">
					<img [src]="avatarUrl" class="rounded img-profile" id="avatarProfile" alt="profile-picture">
				</p>
				<form [formGroup]="formProfile" (ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-md-6 mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-person"></i></span>
								<input type="text" class="form-control" id="first_name" [ngClass]="{'is-invalid': errorMessages['first_name']}" formControlName="first_name" name="first_name" placeholder="{{'firstName' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['first_name'] | translate }}
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-person"></i></span>
								<input type="text" class="form-control" id="last_name" [ngClass]="{'is-invalid': errorMessages['last_name']}" formControlName="last_name" name="last_name" placeholder="{{'lastName' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['last_name'] | translate }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-envelope"></i></span>
								<input type="email" class="form-control" id="email" [ngClass]="{'is-invalid': errorMessages['email']}" formControlName="email" name="email" autocomplete="email" placeholder="{{'email' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['email'] | translate }}
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-translate"></i></span>
								<select class="form-select" formControlName="language">
									<option *ngFor="let language of availableLang" [value]="language.key">{{ language.name }}
									</option>
								</select>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<div class="input-group mb-3">
							<label for="avatarFile" class="input-group-text"><i class="bi bi-cloud-upload-fill"></i></label>
							<input type="file" class="form-control" id="avatarFile" #avatarFile (change)="onFileSelected($event)" [accept]="allowedTypes">
							<div class="invalid-feedback">
								{{ errorMessages['avatar'] | translate }}
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary">{{ 'update' | translate }}</button>
				</form>
			</div>
		</div>
	</div>
</div>
