<div class="col-8">
	<div class="card">
		<div class="card-header">
			Register Here
		</div>
		<div class="card-body">

			<div class="row" *ngIf="message">
				<div class="col-xs-12">
					<p class="alert alert-success">
						<strong>Registration Success!</strong>
						<span routerLink="/login"> Please click here to login!. </span>
					</p>
				</div>
			</div>

			<form #registrationForm="ngForm" (ngSubmit)="submitRegister(registrationForm)">
				<div class="mb-3">
					<label for="name" class="form-label">Name </label>
					<input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" required>
				</div>

				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" required>
				</div>

				<div class="mb-3">
					<label for="confirm_password" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" [(ngModel)]="form.password_confirmation" required>
				</div>
				<button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
			</form>
		</div>
	</div>
</div>
