<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col" *ngFor="let pkg of packages">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{pkg.attributes.name}}</h4>
            </div>
            <div class="card-body">
                <h2>${{pkg.attributes.price}}<small class="text-body-secondary fw-light">/{{pkg.attributes.interval | translate }}</small></h2>
                <p class="card-text">{{pkg.attributes.description}}</p>
                <a routerLink="/plans/{{pkg.id}}" class="w-100 btn btn-lg btn-outline-primary">{{'subscribe_to' | translate }} {{pkg.attributes.name}}</a>
            </div>
        </div>
    </div>
</div>