<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-account-menu-list></app-account-menu-list>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<p class="mb-0">{{'devicesConnected' | translate}}</p>
					<p class="mb-0">
						<button class="btn btn-sm btn-danger">Cerrar sesión</button>
					</p>
				</div>
				<div class="card-body">
					<p class="mb-0">Fecha: <span class="fw-bold">2021-09-15 12:00:00</span></p>
					<p class="mb-0">Ubicación: <span class="fw-bold">San Salvador, El Salvador</span></p>
					<p class="mb-0">Dispositivo: <span class="fw-bold">Windows 10</span></p>
					<p class="mb-0">Navegador: <span class="fw-bold">Google Chrome</span></p>
					<p class="mb-0">IP: <span class="fw-bold">192.168.1.0</span></p>
				</div>
			</div>

		</div>
	</div>
