<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center">
		<p class="mb-0 fw-bold">{{ 'update' | translate }}</p>
		<a routerLink="/settings/roles" class="btn btn-secondary btn-sm">{{ 'back' | translate }}</a>
	</div>
	<form [formGroup]="formRole" (ngSubmit)="updateRole()">
		<div class="card-body">
			<div class="mb-3">
				<label for="name" class="form-label">{{ 'name' | translate }}</label>
				<input type="text" class="form-control" id="name" name="name" [ngClass]="{'is-invalid': errorMessages['name']}" formControlName="name" required>
				<div class="invalid-feedback">
					{{ errorMessages['name'] | translate }}
				</div>
			</div>
			<div class="mb-3">
				<div class="mb-3" *ngFor="let group of permissionsGrouped | keyvalue">
					<p class="mb-1">{{ group.key }}</p>
					<div>
						<span class="btn btn-outline-primary btn-sm me-1 mb-2 p-cursor"
						      *ngFor="let permission of group.value"
						      [class.activeSpan]="selectedPermissions.includes(permission.name)"
						      (click)="togglePermission(permission.name)">
							{{ permission.name }}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-end">
			<a routerLink="/settings/roles" class="btn btn-secondary me-2">{{ 'cancel' | translate }}</a>
			<button type="submit" class="btn btn-primary">{{ 'update' | translate }}</button>
		</div>
	</form>
</div>
