<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h4 class="card-title">{{'preferences' | translate}}</h4>
		<a *ngIf="permissions.hasPermission('config:store')" class="btn btn-primary" routerLink="/settings/config/create">{{'new' | translate}} <i class="bi bi-plus"></i></a>
	</div>
	<div class="card-body">
		<div class="d-flex">
			<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
				<ng-container ngbNavItem="top">
					<button ngbNavLink>{{'general' | translate}}</button>
					<ng-template ngbNavContent>
						<div class="card">
							<div class="card-body">
								<form>
									<div class="mb-3">
										<label for="name" class="form-label">{{'name' | translate}}</label>
										<input type="text" class="form-control" id="name">
									</div>
								</form>
							</div>
						</div>
					</ng-template>
				</ng-container>

				<ng-container ngbNavItem="middle">
					<button ngbNavLink>{{'ecommerce' | translate }}</button>
					<ng-template ngbNavContent>
						<p>
							Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
							farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
							ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
							helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
							8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
							stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
						</p>
					</ng-template>
				</ng-container>
			</div>

			<div [ngbNavOutlet]="nav" class="ms-4"></div>
		</div>
	</div>
</div>
