<div class="list-group">
	<a routerLink="/account/profile" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
		{{'profile' | translate}} <i class="bi bi-person-circle"></i>
	</a>
	<a routerLink="/account/change-password" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
		{{'changePassword' | translate}} <i class="bi bi-lock-fill"></i>
	</a>
	<a routerLink="/account/device-connected" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
		{{'devicesConnected' | translate}} <i class="bi bi-phone"></i>
	</a>
	<a routerLink="/account/subscriptions" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
		{{'subscriptions' | translate}} <i class="bi bi-calendar-range"></i>
	</a>
	<a routerLink="/account/delete-account" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
		{{'deleteAccount' | translate}} <i class="bi bi-trash"></i>
	</a>
</div>
