<div class="auth-body">
    <div class="row w-100 m-auto justify-content-center">
        <div class="col-auto col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card border shadow">
                <div class="card-header border-0">
                    <h3>{{'welcomeBack' | translate}}</h3>
                    <p class="mb-0">{{'pleaseLogin' | translate}}</p>
                </div>
                <div class="card-body">
                    <form class="mb-4" [formGroup]="formUser" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" class="form-control" [ngClass]="{'is-invalid': errorMessages['email']}" id="email" formControlName="email" name="email" autocomplete="email" placeholder="{{'email' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['email'] }}
								</div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                <input type="password" class="form-control" [ngClass]="{'is-invalid': errorMessages['password']}" id="password" formControlName="password" name="password" autocomplete="off" placeholder="{{'password' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['password'] }}
								</div>
                            </div>
                        </div>

	                    <div class="d-flex flex-column flex-sm-row flex-wrap justify-content-between my-4">
		                    <div class="form-check text-start mb-2 mb-sm-0">
			                    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
			                    <label class="form-check-label" for="flexCheckDefault">{{'rememberMe' | translate}}</label>
		                    </div>
		                    <a routerLink="/auth/forgot-password" class="text-decoration-none">{{'forgotPassword' | translate}}</a>
	                    </div>

                        <button [disabled]="!formUser.valid" class="btn btn-border btn-primary w-50 py-2" type="submit">{{'login' | translate}}</button>
                    </form>
                    <p><span class="fw-light me-2">{{'dontHaveAccount' | translate}}</span> <a class="fw-bolder text-decoration-none" routerLink="/auth/register">{{'registerHere' | translate}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
