<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Roles</h4>
        <a *ngIf="permissions.hasPermission('roles:store')" class="btn btn-primary" routerLink="/settings/roles/create">{{'new' | translate}} <i class="bi bi-plus"></i></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Permissions</th>
                        <th>{{'actions' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{ role.name }}</td>
                        <td>
                            <span *ngFor="let permission of role.permissions" class="badge bg-primary me-1">{{ permission.name }}</span>
                        </td>
	                    <td>
		                    <div class="d-flex flex-row align-items-center">
			                    <a *ngIf="permissions.hasPermission('roles:update')" class="btn btn-sm btn-primary me-2" routerLink="/settings/roles/edit/{{ role.id }}">{{'edit' | translate}} <i class="bi bi-pencil-square"></i></a>
			                    <button *ngIf="permissions.hasPermission('roles:delete')" class="btn btn-sm btn-danger" (click)="deleteRole(role)">{{'delete' | translate}} <i class="bi bi-x"></i></button>
		                    </div>
	                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @if(lastPage > 1){
        <div class="card-footer">
            <ngb-pagination [collectionSize]="totalPages * 10" [(page)]="pageNumber" [maxSize]="5" (pageChange)="setPage($event)">
                <ng-template ngbPaginationPrevious>{{'next' | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{'previous' | translate}}</ng-template>
            </ngb-pagination>
        </div>
    }

</div>
