<div ngbDropdown placement="top-end" class="d-inline-block position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button type="button" class="btn btn-outline-secondary" id="dropdownTheme" ngbDropdownToggle>
        <i id="changeIcon" class="bi bi-circle-half"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownTheme">
        <button ngbDropdownItem (click)="toggle('light', $event)"><i class="bi bi-brightness-high-fill"></i> Light</button>
        <button ngbDropdownItem (click)="toggle('dark', $event)"><i class="bi bi-moon-fill"></i> Dark</button>
        <button ngbDropdownItem (click)="toggle('auto', $event)"><i class="bi bi-circle-half"></i> System</button>
    </div>
</div>

