<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
	<div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar" [src]="userAvatar" alt="User Image">
		<div>
			<p class="app-sidebar__user-name">{{userFullName}}</p>
			<p class="app-sidebar__user-designation">{{userName}}</p>
		</div>
	</div>
	<ul class="app-menu">
		<li>
            <a class="app-menu__item" routerLink="/home" routerLinkActive="active">
                <i class="app-menu__icon bi bi-speedometer"></i><span class="app-menu__label">{{'home' | translate }}</span>
            </a>
        </li>
		<li class="treeview" (click)="toggleTreeView($event)">
			@if (permissionService.hasPermission('users:index') || permissionService.hasPermission('roles:index')){
            <a class="app-menu__item" href="#" data-toggle="treeview">
	            <i class="app-menu__icon bi bi-sliders"></i>
	            <span class="app-menu__label">{{'settings' | translate}}</span>
	            <i class="treeview-indicator bi bi-chevron-right"></i>
            </a>
			}
			<ul class="treeview-menu">
				<li *ngIf="permissionService.hasPermission('users:index')">
					<a class="treeview-item" routerLink="/settings/users" routerLinkActive="active">
						<i class="icon bi bi-people-fill"></i> {{'users' | translate }}
					</a>
				</li>
				<li *ngIf="permissionService.hasPermission('users:index')">
					<a class="treeview-item" routerLink="/settings/roles" routerLinkActive="active">
						<i class="icon bi-person-fill-lock"></i> {{'rolesAndPermissions' | translate }}
					</a>
				</li>
			</ul>
		</li>
	</ul>
</aside>
