<div class="container">
	<div class="row">
		<div class="col-md-4">
			<app-account-menu-list></app-account-menu-list>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Account</h5>
				</div>
				<div class="card-body">
					<p class="text-center">
						<img ngSrc="/assets/images/profile.png" class="img-thumbnail rounded img-profile" id="avatar" alt="profile-picture" width="512" height="512">
					</p>
					<form>
						<div class="row">
							<div class="col-md-6 mb-3">
								<div class="input-group">
									<span class="input-group-text"><i class="bi bi-person"></i></span>
									<input type="text" class="form-control" id="first_name" formControlName="first_name" name="first_name" placeholder="{{'firstname' | translate}}">
								</div>
							</div>
							<div class="col-md-6 mb-3">
								<div class="input-group">
									<span class="input-group-text"><i class="bi bi-person"></i></span>
									<input type="text" class="form-control" id="last_name" formControlName="last_name" name="last_name" placeholder="{{'lastname' | translate}}">
								</div>
							</div>
						</div>

						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-envelope"></i></span>
								<input type="email" class="form-control" id="email" formControlName="email" name="email" autocomplete="email" placeholder="{{'email' | translate}}">
							</div>
						</div>

						<div class="mb-3">
							<label for="exampleInputFile" class="form-label">Profile picture </label>
							<input type="file" class="form-control" id="exampleInputFile">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
