<div class="py-4 auth-body">
	<div class="row w-100 m-auto justify-content-center">
		<div class="col-md-4">
			<div class="card border shadow">
				<div class="card-header border-0">
					<p class="mb-0">{{'changePasswordHeading'| translate}}</p>
				</div>
				<div class="card-body">
					<form class="mb-4" [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-lock"></i></span>
								<input type="password" class="form-control" [ngClass]="{'is-invalid': errorMessages['password']}" id="password" formControlName="password" name="password" autocomplete="new-password" placeholder="{{'password' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['password'] | translate }}
								</div>
							</div>
						</div>

						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="bi bi-lock"></i></span>
								<input type="password" class="form-control" [ngClass]="{'is-invalid': errorMessages['password_confirmation']}" id="password_confirmation" formControlName="password_confirmation" name="password_confirmation" autocomplete="new-password" placeholder="{{'confirmPassword' | translate}}">
								<div class="invalid-feedback">
									{{ errorMessages['password_confirmation'] | translate }}
								</div>
							</div>
						</div>

						<button [disabled]="!formResetPassword.valid" class="btn btn-border btn-primary w-100 py-2" type="submit">{{'changePassword' | translate}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
