<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h4 class="card-title">{{'mail' | translate}}</h4>
	</div>
	<form [formGroup]="formMail" (ngSubmit)="saveMailSettings()">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="driver" class="form-label">{{'driver' | translate}}</label>
					<input type="text" class="form-control" id="driver" [ngClass]="{'is-invalid': errorMessages['driver']}" formControlName="driver" name="driver" placeholder="{{'driver' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['driver'] }}
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="host" class="form-label">{{'host' | translate}}</label>
					<input type="text" class="form-control" id="host" [ngClass]="{'is-invalid': errorMessages['host']}" formControlName="host" name="host" placeholder="{{'host' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['host'] }}
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="port" class="form-label">{{'port' | translate}}</label>
					<input type="text" class="form-control" id="port" [ngClass]="{'is-invalid': errorMessages['port']}" formControlName="port" name="port" placeholder="{{'port' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['port'] }}
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="username" class="form-label">{{'username' | translate}}</label>
					<input type="text" class="form-control" id="username" [ngClass]="{'is-invalid': errorMessages['username']}" formControlName="username" name="username" placeholder="{{'username' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['username'] }}
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="password" class="form-label">{{'password' | translate}}</label>
					<input type="password" class="form-control" id="password" [ngClass]="{'is-invalid': errorMessages['password']}" formControlName="password" name="password" placeholder="{{'password' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['password'] }}
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="encryption" class="form-label">{{'encryption' | translate}}</label>
					<input type="text" class="form-control" id="encryption" [ngClass]="{'is-invalid': errorMessages['encryption']}" formControlName="encryption" name="encryption" placeholder="{{'encryption' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['encryption'] }}
					</div>
				</div>

				<hr class="mt-0">

				<div class="col-md-6 mb-3">
					<label for="from_address" class="form-label">{{'from_address' | translate}}</label>
					<input type="text" class="form-control" id="from_address" [ngClass]="{'is-invalid': errorMessages['from_address']}" formControlName="from_address" name="from_address" placeholder="{{'from_address' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['from_address'] }}
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="from_name" class="form-label">{{'from_name' | translate}}</label>
					<input type="text" class="form-control" id="from_name" [ngClass]="{'is-invalid': errorMessages['from_name']}" formControlName="from_name" name="from_name" placeholder="{{'from_name' | translate}}">
					<div class="invalid-feedback">
						{{ errorMessages['from_name'] }}
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-end">
			<button [disabled]="!formMail.valid" type="submit" class="btn btn-primary">{{'save' | translate}}</button>
		</div>
	</form>
</div>
