@if (!loggedIn) {
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">¡Atención!</h4>
					<p>Para poder realizar el pago de servicios, es necesario que inicies sesión.</p>
					<hr>
					<p class="mb-0">Si no tienes una cuenta, puedes registrarte <a href="/auth/registro">aquí</a> o si
						ya tienes una cuenta, puedes iniciar sesión <a href="/auth/login">aquí</a>.</p>
				</div>
			</div>
		</div>
	</div>
} @else {
	<div class="container">
		<div class="card mb-3">
			<div class="card-body">
				<h1 class="fs-3">Pagar Servicio {{ package.attributes.name }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<p class="card-title mb-0">Datos del Servicio</p>
					</div>
					<div class="card-body">
						<p>Paquete a contratar: <span class="fw-bold">{{ package.attributes.name }}</span></p>
						<p>Precio del paquete: <span class="fw-bold">{{ package.attributes.price | currency }}</span></p>
						<p>Intervalo de suscripción: <span class="fw-bold">{{ package.attributes.interval | translate }}</span></p>
						<p><span class="fw-bold">Descripción:</span> {{ package.attributes.description }}</p>
					</div>
				</div>

				<div class="card mb-3">
					<div class="card-header">
						<p class="card-title mb-0">Detalles del comprador</p>
					</div>
					<div class="card-body">
						<p>Nombre: <span class="fw-bold">{{ userProfile.first_name }} {{ userProfile.last_name }}</span></p>
						<p>Correo Electrónico: <span class="fw-bold">{{ userProfile.email }}</span></p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<p class="card-title mb-0">Métodos de pago disponibles</p>
					</div>
					<div class="card-body">
						<div class="d-grid gap-2">
							<a class="btn btn-primary" (click)="storeSubscriptions('paypal')">{{ 'pay_with' | translate }} Paypal</a>
							<a class="btn btn-stripe" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">{{ 'pay_with' | translate }} Stripe</a>

							<div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
								<div class="card-body">
									<form (ngSubmit)="stripeSubscribe()" [formGroup]="stripeSubscriptionForm">
										<input class="form-control mb-3" formControlName="email" placeholder="{{'email' | translate}}" required>
										<div id="card-element" class="form-control mb-3"></div>
										<button class="btn btn-primary float-end" type="submit" [disabled]="!stripeSubscriptionForm.valid">{{'processSubscription' | translate}}</button>
									</form>
								</div>
							</div>

							<a class="btn btn-serfinsa disabled">{{ 'pay_with' | translate }} Serfinsa</a>
							<a class="btn btn-dark disabled">{{ 'pay_with' | translate }} N1co</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

}
