<div class="py-4 auth-body">
    <div class="row w-100 m-auto justify-content-center">
        <div class="col-md-4">
            <div class="card border shadow">
                <div class="card-header border-0">
                    <p class="mb-0">{{'resetpassword' | translate}}</p>
                </div>
                <div class="card-body">
                    <form class="mb-4" [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" class="form-control" id="email" name="email" formControlName="email" autocomplete="email" placeholder="{{'email' | translate}}">
                            </div>
                        </div>

                        <button [disabled]="!formForgotPassword.valid" class="btn btn-border btn-primary w-100 py-2" type="submit">{{'sendPasswordResetLink' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
